# Fill following data and rename the file to `.env`
TELEGRAM_TOKEN=
TELEGRAM_CHAT_ID=

GITHUB_TOKEN=
REPO_OWNER=
REPO_NAME=

JENKINS_HOST=
JENKINS_USERNAME=
JENKINS_PASSWORD=
NOTED_JOB=
NOTED_TEST_JOB=
STUB_OFF_JOB=